@import "../scss/variable.scss";

.box-news {
    display: flex;

    .box-news-item {
        position: relative;
        overflow: hidden;

        .box-news-item-img {
            img{
                transition: all .5s;
            }
        }

        .box-news-item-title {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0 0 15px 10px;
            font-size: 1.1rem;
            font-weight: 500;
            color: $whiteMain;
            background: linear-gradient(to bottom,transparent 10%,$blackMain 100%);
            width: 100%;
            text-transform: capitalize;
        }

        &:hover {
            .box-news-item-img {
                img{
                    transform: scale(1.3);
                }
            }
        }
    }

    .col-12.col-lg-6:first-child {
        padding-right: 7.5px;
        padding-bottom: 15px;
    }

    .col-12.col-lg-6:last-child {
        padding-left: 7.5px;
    }

    .col-12.col-lg-6:last-child .row .col-12 .row .col-6:nth-child(1) {
        padding-right: 7.5px;
    }

    .col-12.col-lg-6:last-child .row .col-12 .row .col-6:nth-child(2) {
        padding-left: 7.5px;
    }

    .col-12.col-lg-6:last-child .row .col-12 .row:first-child .col-6 {
        padding-bottom: 7.5px;
    }

    .col-12.col-lg-6:last-child .row .col-12 .row:last-child .col-6 {
        padding-top: 7.5px;
    }

    @media (max-width: 1199.98px) {
        .col-12.col-lg-6:first-child {
            padding-right: 15px;

            .box-news-item {
                .box-news-item-img {
                    img {
                        min-width: 100% !important;
                    }
                }
            }
        }


        .col-12.col-lg-6:last-child {
            padding-left: 15px;
        }
    }
}

.main-product {
    .main-product-container {
        .product-home {
            .product-home-content {
                .col-6.col-lg-3 {
                    margin: 10px 0;

                    @media (min-width: 992px) {
                        .owl-carousel-item {
                            .box-product {
                                .box-product-name {
                                    padding: 20px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
