$whiteMain: #fff;
$blackMain: #000;
$yellowMain: #f1b61c;
$greenMain: #38b349;
$blackTagHeaderTop: #6c757d;
$backgroundFacebook: #4267b2;
$backgroundEmail: #E94826;
$greyMain: #555d65;
$redMain: #dc3545;
$backGroundFooter: #333333;
$boxshadow: #edf0f2;
$blueProductDetail: #0056b3;